<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>以撒的社区</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body>

    <div th:replace="head :: html"></div>

    <ul class="flow-default" id="questions"></ul>

    <input type="text" id="time" name="time" style="display: none"/>

    <script type="text/javascript">
        var QUESTIONS_NUM = 10;
        //缓存用户进入首页的时间
        $("#time").val((new Date()).valueOf());

        //加载最新的问题
        layui.use('flow', function(){
            var time = $("#time").val();
            var flow = layui.flow;

            flow.load({
                elem: '#questions'
                ,done: function(page, next){
                    var lis = [];
                    $.get('/question/getNewestQuestionsDetails?page='+page + '&time=' + time, function(res){
                        layui.each(res.questions, function(index, item){
                            lis.push(
                                '<div class="layui-card">' +
                                    '<div class="layui-card-header userHeadParentElement">' +
                                        '<img src="' + item.user.imgAddr + '" class="userSmallHead"/>' +
                                        '<a class="userName">' + item.user.userName + '</a>' +
                                    '</div>' +
                                    '<div class="layui-card-body">' +
                                        '<div class="layui-row questionDetailTitle" onclick="showQuestionDetail(' + item.id + ');">' +
                                            item.title +
                                        '</div>' +
                                        '<div class="layui-row questionDetailText"  onclick="showQuestionDetail(' + item.id + ');">' +
                                            item.description +
                                        '</div>' +
                                        '<div class="layui-row questionAction">' +
                                            '<i class="layui-icon layui-icon-reply-fill"></i>&nbsp;&nbsp;' + showAnswersNum(item.answersnum) +
                                            '<div onclick="attentionQuestion('+  item.id +')"><i class="layui-icon layui-icon-rate-solid item-margin"></i>&nbsp;&nbsp;关注</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>'
                            );
                        });

                        next(lis.join(''), page < res.sum / QUESTIONS_NUM);
                        //window.parent.resize(1);
                    });
                }
            });
        });



        /**
         * 显示问题回答数
         *
         * @param answersnum
         * @returns {string}
         */
        function showAnswersNum(answersnum) {
            if(undefined == answersnum || 0 == answersnum){
                return "添加回答";
            }

            return answersnum + " 条回答";
        }


    </script>

</body>
</html>