<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>以撒的后台</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js " type="text/javascript"></script>
</head>

<body>

<div th:replace="adminNav :: html"></div>
<div th:replace="head :: html"></div>

<div class="layui-body" id="content_body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>后台标签管理</legend>
            <div class="layui-field-box">
                <!-- 内容主体区域 -->
                <div style="padding: 15px;">
                    <div class="ctrlWrap">

                        <form action="/adminItem/addTag" method="get" accept-charset="utf-8" class="layui-form">

                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" required lay-verify="required" placeholder="标签名称" name="tagName" >
                            </div>


                            <div class="layui-input-inline" style="width:200px">
                                <button class="layui-btn layui-btn-small layui-btn-normal">添加</button>
                            </div>

                        </form>
                    </div>


                    <!-- 标签列表 -->
                    <table id="dictTable" lay-even class="layui-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody id="dictTableBody">

                        <tr th:each="tag:${tags}" th:if="${tags != null}">
                            <td th:text="${tag.id}" align="center"> </td>
                            <td align="center">
                                <a th:text="${tag.name}" class="layui-btn layui-btn-radius layui-btn-danger layui-btn-mini"></a>
                            </td>
                            <td align="center">
                                <form th:action="@{/adminItem/updateTag}" method="get" accept-charset="utf-8" class="layui-form">
                                    <input type="hidden" name="id" th:value="${tag.id }"/>
                                    <div class="layui-input-inline"><input type="text" style="width: 150px" class="layui-input" required lay-verify="required" placeholder="修改名称" name="tagName" ></div>
                                    <div class="layui-input-inline"><button class="layui-btn layui-btn-normal layui-btn-mini">修改</button></div>
                                    <div class="layui-input-inline"><a th:href = "@{/adminItem/deleteTag(id=${tag.id})}"><input type="button"  class="layui-btn layui-btn-normal layui-btn-mini" value="删除"/></a></div>
                                </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </fieldset>
    </div>
</div>

</body>

<script th:inline="javascript">

    layui.use(['form'], function(){
        var form = layui.form;
    });

</script>
</html>